@import "importStyles.less"; /*Import definations*/

html, body, div, h1, h2, h3, p, ul, li, aside, article, section, header, footer, nav, {
	background: transparent;
}

body{
	background: #eee;
	color: rgba(25, 23, 23, 0.75);
}
#main-page-nav{
	background: #02275D;
}
.navbar-toggle .icon-bar{
	background: red;
}
#top-page-nav {
	background: #04173B;
	height: 100%;
	#small-page-nav>ul>li>a{
		text-shadow: none;
		color: #618b9c;
		&:hover,focus{
			background-color: #02275D;
    		color: #fff;
		}
	}
}
#main-page-nav nav#page-nav
.navbar-right>li>a{
	&.current{
		background: #04173B;
	}
}
#main-page-nav >{
	nav#page-nav>ul>li>a{
		text-shadow: none;
		color: #92BADC;
		&:hover, focus{
			background:#04173B;
			color: #eee;
		}
	}
}

.small-strip{
    background: @threeColumColor;
	color: white;

	.strip-row{
		div{
			.borderEffect(@threeColumColor);
			height: 92px;
		}

		div:first-child{
			border-left: none;
			} 

		div:last-child{
			border-right: none;
		}
			
		 /*strip-row ends*/
	}

}


.tes-pic.col-md-6{
	background-size: cover !important;
}
html .btn-primary {
    background-image: linear-gradient(to bottom,#da2a2a 0,#980707 100%);
    border-color: #CA2A2A;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #920007;
    border-color: #CA2A2A;
}
.ct2{
	background: #eee;
	background: url(../images/test2.jpg);
	background-size: cover;
}
.welcomeh{
	background: #fafafa;
	box-shadow: -2px -4px 8px rgb(255, 0, 0);

}

/*#midContHolder{
	background: rgba(162, 162, 162, 0.23);
}
*/
.standInfo{

	h1{
		
		color: #eee;
	}
	p{
		color: #d4d4d4;
	}
}
.carousel-indicators .active {
    background-color: #E03535;
}
.carousel-indicators li {
    border: 1px solid #806F6F;
}
.thumbnail:hover{
	box-shadow: rgba(128, 128, 128, 0.74) 0 0px 10px;
}
  
.thumbnail{
	/*opacity: 0.2;*/
	.caption{
		color: rgba(25, 23, 23, 0.83);
	    background: #FDFDFD;
	}
	
	transition: all .3s ease-in-out;
}  



.thumbnail:hover .caption{
    color: #F5EEEE;
    background-color: #C80808;
}


footer.main{
    color: #847FA2;
    background: #04173B;
}
