@threeColumColor:#C80808;/*rgba(220,23,23,.87); /*background color for strips*/

/*Maxin For Cool border effect*/
.borderEffect(@color) {
	border-right: 1px solid darken(@color, 10%);
	border-left: 1px solid lighten(@color, 10%);
}

.centerText{
	text-align: center;
}