@import "importStyles.less"; /*Import definations*/
/*css reset */

aside, article, section, header, footer, nav, div {
	display: block; 
}

html, body, div, h1, h2, h3, p, ul, li, aside, article, section, header, footer, nav, {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* fix floating problems */
.clearfix:before,
.clearfix::after {
    content:"";
    display:table;


}
.clearfix:after {
    clear:both;
}

body{
	width:100%;
	min-height: 100%
}

/* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	body{color: brown;}
    	.strip-row div p span {
    		font-size: 1.5em;
    	}

    	.small-strip .strip-row div{
    		font-size: .9em;
    		/*padding: 2px 8px;*/
    	}
	}



@media only screen and (max-width : 768px) {
    	body{color: orange;}
    	.strip-row div p span {
    		font-size: 1.5em;
    	}

    	.small-strip .strip-row div{
    		font-size: .9em;
    		padding: 2px 8px;
    	}
	}

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px){
    	body{color: red;}
    	.strip-row div p span {
    		font-size: 1.2em;
    		margin-top: 0px;
    	}

    	.small-strip .strip-row div{
    		font-size: small;
    		padding: 2px 4px;
    	}

	}

	 /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    	body{color: blue;}
    	.strip-row div span{
    		font-size: 1.2em;
    	}

    	.strip-row div{
    		font-size: .9em;
    	}
	}


#top-page-nav > .container{
	height: 100%;
	ul, li, a{
		height: 100%;
	}
}
#small-page-nav{
	height: 30px;
	.navbar-nav>li>a {
	    padding-top: 6px;
	    padding-bottom: 0;
	    font-size: 13px;

	}
}
.mainNav.navbar-nav>li>a{
	padding-left: 30px;
	padding-right: 30px;
	&.contact{
		padding-right: 45px;
	}
	@media (min-width: 768px){
	    padding-top: 25px;
	    padding-bottom: 27px;
	}
}


@media (min-width: 768px){
	   .navbar-nav>li>a{
	    padding-top: 25px;
	    padding-bottom: 25px;
	}
}

header.navbar.navbar-static-top {
    margin-bottom: 0;
    border-bottom: none;
    border-bottom: 1px solid rgb(6, 51, 130);
}
.carousel {
    position: relative;
    /*min-height: 300px;*/
    /*overflow: hidden;*/

    .carousel-inner{
    	height: inherit;
    }
}
.mid-content{
	padding-top: 110px;
	background: rgba(162, 162, 162, 0.23);
}
.small-strip{
	position: absolute;
	bottom: -110px;
	width: 100%;
}
.strip-row{
	min-height: 110px;
	div{
		margin-top: 8px;
		padding: 20px;
		.centerText;

		span{
			font-size: 24px;


		}

		i{
			margin-right: 14px;
		}
	}
}
.twoColumnHigl{
	margin-top: 30px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid #fafafa;
}
.welcomeh{
    padding: 40px 0;
    position: relative;
    margin-bottom: 80px;
    .arrow-down{
    	position: absolute;
    	bottom: -19px;
    	left: 48%;
    }

    .bhcontent{
		.centerText;	
		h1{
			font-size: 30px;
			text-transform: uppercase;	
			text-shadow: 0 0 1px rgba(91,188,212,.51),1px 0 1px rgba(202,186,186,.45);
		}
		p{
			margin-top: 15px;
		}
	}
}
.ct1{
	margin-bottom: 80px;
}
.standInfo{
	text-align: center;
	/* padding-left: 40px; */
	/*padding: 30px;*/
	margin: 40px 0;
	h1{
		font-size: 45px;
		margin: 30px auto;
		text-transform: uppercase;
		text-shadow: 0 1px 1px rgba(91, 188, 212, 0.51), 1px 0 1px rgba(202, 186, 186, 0.45);
	}
	p{
		padding-left: 40px;
	}

	ul{
		width: 70%;
		min-width: 400px;
		margin: 0 auto;
		padding-bottom: 30px; 
		position: relative;

		li:hover .fa {
		    /* color: red; */
		    text-shadow: grey 0 0 4px;
		    transform: rotate(5deg);
		}

		li{
			color: rgba(255, 255, 255, 0.76);
			list-style: none;
			font-size: 1em;
			text-transform: uppercase;
			border-bottom: 1px solid rgba(212, 208, 208, 0.3);
			padding: 15px 0;
			text-align: left;
			position: relative;
			/*left: -900px;*/

			.fa{
				margin-right: 48px;
				vertical-align: middle;
				transition: all .3s ease-out;
			}
		}

		li:last-child{
			border-bottom: none;
		}
	}
}
.thumbnail{
	padding: 0;
	.caption {
	    padding: 20px;
	    transition: all .2s ease;

	    .btn-primary{
	    	border-radius: 2px;
    		margin-top: 25px;
	    }
	    h3{
	    	margin-bottom: 20px;
	    	font-weight: bold;
	    }
	}
}


div.carousel-inner .item{
	height: 100%;
	width: 100%;
	background-position:  center;
	background-size: cover;
	background-repeat: no-repeat;	
}



footer.main{
    padding: 20px;
    p{
    	padding-top: 60px;
    }
    .cright span{
    	font-size: 12px;
    }
}

p.s {
    z-index: 4;
    position: relative;
    padding: 1px;
    line-height: 0;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1),inset 0 0 0 rgba(0,0,0,.7),0 0 2px rgba(255,255,255,.5);
}
#sb{
	padding-top: 15px;
    padding-left: 20px;
    padding-right: 15px;
}
.navbar-brand {
    padding: 20px 15px;
    padding-top: 25px;
}
#search {
    background-color: lighten(@threeColumColor, 12%);
    -webkit-appearance: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    width: 30px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #E0E4EA;
    line-height: 24px;
    border: 0;
    border-radius: 15px;
    position: relative;
    z-index: 5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

#search:focus {
    outline: none;
    width: 170px;
}
p.s:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 20px;
   background-color: lighten(@threeColumColor, 12%);
    bottom: -10px;
    right: -3px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 0 0 0 1px rgba(0,0,0,.5),inset 0px 0px 0px rgba(0,0,0,.2),0 0 8px rgba(255,255,255,.5);
}

#home-overlay{
	background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/overlay_dot_2.png);
}
.carousel-control{
	z-index: 99;
}

#parallax1 {
    margin: 0 auto;
    overflow: hidden;
    background: rgba(0,0,0,.8) url(../images/bg22.jpg) no-repeat fixed bottom;
    background-size: cover;
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    .pad{
    	padding: 120px 80px;
    }
    q {
	    font-size: 41px;
	    text-align: center;
	    color: #d4a6a6;
	    display: block;
	    span{
	    	font-weight: 700;
	    	color: #fefefe;
	    	&:nth-child(1){
	    		color: #e01d1d;
	    	}
	    	&:nth-child(3){
	    		color: #5cb2ea;
	    	}
	    }
	}
	.p-overlay{
		background-repeat: repeat;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 2;
	    background: url(../images/overlay_dot_2.png);

	}
}
a.navbar-brand {
    background: url(../images/nembo.png);

}

a.navbar-brand {
    background: url(../images/nembo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 0;
    margin: 0;
    width: 140px;
    height: 70px;
    margin-left: 5px;
}
